.bg-cover{
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
}
.topgame{
    overflow-x:scroll;
    overflow-y:hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
    .gamename{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.game{
    position: relative;
    a{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
.text-over{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
}
.go-channel{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.pointer{
    cursor: pointer;
}

.navbar-expand-lg .search{
    max-height: 0px;
    overflow: hidden;
    transition: max-height .7s ease-in;
}
.navbar-expand-lg .select-flex{
  max-height: 500px;
}
.navbar-toggler{
  outline: none;
  border: none;
}

  .navbar{
    position: fixed;
    width: 100%;
    z-index: 3333;
  }
  .fixed-pt{
    padding-top: 60px;
  }

  .navbar-light .navbar-nav .l-border {
    color: $white;
    position: relative;
  
    &::after {
      content: "";
      width: 0%;
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 3px solid $Lorange;
      transition: all 0.3s;
      z-index: -1;
    }
    &:active {
        &::after {
          width: 100%;
          z-index: 100;
        }
    }
    @include media-breakpoint-up(lg) { 
        &:hover {
          color: $white;
          &::after {
            width: 100%;
            z-index: 100;
          }
        }
    }
}
.navbar-light .navbar-nav .l-active {
    color: $Lorange !important;
  
    &::after {
      width: 100%;
      z-index: 100;
    }
}